# ------------------------------ ------------------------------
[user]
	email = 61238538+heyzec@users.noreply.github.com
	name = heyzec
	# Use ssh key to sign commits
	signingkey = ~/.ssh/id_ed25519
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[alias]
	# --------------------------Shorthands-------------------------
	a = add
	aa = add --all
	au = add --update

	b = branch

	bib = bisect bad
	big = bisect good
	bir = bisect reset
	bis = bisect start

	c = commit
	ca = commit --amend
	cane = commit --amend --no-edit

	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue

	# Avoid using checkout, use switch and restore instead
	# co = checkout

	f = fetch

	l = log

	me = merge
	mea = merge --abort

	r = reset

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip

	rs = restore

	s = status

	st = stash
	stp = stash pop

	sw = switch
	swc = switch --create

	wt = worktree


	# ---------------------------Plurals---------------------------
	aliases = "!git config -l | grep alias | cut -c 7-"
	branches = branch -a
	stashes = stash list
	remotes = remote -v

	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"

	# ----------------------------Others---------------------------
	lg = log --graph --oneline --decorate --date=short --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
	who = shortlog --summary --email --numbered --no-merges

	# add "exec git reworder" to the top of rebase interactive to allow editing inplace
	reworder = "!gawk -i inplace '{print $0}/^pick/{printf \"exec git commit --amend --message \\\"\"; for(i=3; i<=NF-1; ++i) printf \"%s \", $i; printf \"%s\\\"\", $NF; print \"\"}' .git/rebase-merge/git-rebase-todo"

	commit-date-to-author-date = !GIT_COMMITTER_DATE="$(git log -1 --format="%ad")" git commit --amend --no-edit

[init]
	defaultBranch = main
	# templatedir = ~/.git-templates
[pull]
	ff = only
[diff]
	#tool = nvimdiff
	tool = vscode
[diff "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[instaweb]
	httpd = python
[help]
	autocorrect = 20
[merge]
	conflictstyle = diff3

# vim: noexpandtab commentstring=#\ %s
