# Neovim
nvim/viminfo
nvim/.netrwhist
nvim/plug-config/
nvim/plugged/
nvim/autoload/

# Zsh
zsh/.zcompdump
# this folder is managed by plugin manager
zsh/plugins

# Nix VM build artifacts
nix/*.qcow2
nix/result
*.qcow2
result

.DS_Store
