@import "./colors.css";

* {
    border: none;
    /* border: 1px solid red; */
    border-radius: 0;
    font-family: monospace; /* Use system default font */
    font-size: 13px;
    min-height: 0;
}

#icon {
    color: blue;
}

window#waybar {
    background: transparent;
    /**border-bottom: 3px solid rgba(100, 114, 125, 0.5);**/
    color: @base07;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces, #window, #traymore,
#audio, #disk, #network,
#battery, #hardware, #clock,
#privacy
{
    padding: 6px 10px;
    margin: 0 0px;
    color: @base07;
    border-radius: 16px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: @base00;
    background-color: @base01;
}


/** #################### MODULES LEFT ####################  **/
#workspaces {
    padding: 0 2px;
}

#workspaces button {
    padding: 4px 5px;
    color: @base06;
    background: transparent;
}

#workspaces button.active {
    background: @base0A;
    color: @base06;
    border-radius: 16px;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    background: red;
    border-radius: 16px;
}

#workspaces button:hover {
    /* Disable default hover effects */
    box-shadow: inherit;
    text-shadow: inherit;

    border-bottom: 2px solid @base06;
}


/** #################### MODULES CENTER ####################  **/
#window.empty {
    /** visibility: hidden; **/
    padding: 6px 10px;
	margin: 0 0px;
	color: @text;
	border-radius: 16px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: @crust;
	background-color: red;
}

/** #################### MODULES RIGHT ####################  **/
#privacy {
    background: orange;
    color: white;
}

#idle_inhibitor, #pulseaudio,
#cpu, #memory, #temperature, #backlight, #keyboard-state {
    padding: 0px 3px;
}
#idle_inhibitor {
    padding-right: 10px;
}
/**
#workspaces {
    padding: 0px 10px;
	margin: 0 0px;
	color: @text;
	border-radius: 16px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: @crust;
	background-color: @surface0;
}
**/

#battery.charging {
    color: white;
    background-color: #26A65B;
}
/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */

#tray {
    font-family: sans-serif; /* Use system default font */
    padding-right: 5px;
}
#custom-wlogout {
    padding: 0px 5px;
}

/** #################### OTHERS ####################  **/
@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

